@model CSC407_FinalProject.Models.TopicListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Title: @Html.TextBox("SearchString") <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            Topic Name
        </th>
        <th>
           Message
        </th>
        <th>
           User
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TopicName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopicMessage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopicUser)
        </td>
        <td>

            <a href="/Posts/List/@item.TopicId">View Posts</a> 
            @if (item.TopicUser.ToLower() == HttpContext.Current.User.Identity.Name.ToLower() || @Model.User.Admin == true)
            {
                <span> | </span>
                @Html.ActionLink("Delete", "Delete", new { id = item.TopicId })
            }
        </td>
    </tr>
}

</table>
